<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="heeeeeeeeeeeeeh.Properties.Settings.MeshcheryakovConnectionString"
            connectionString="Data Source=235I-10\SQLSTANKIN;Initial Catalog=Meshcheryakov;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>